 .App {
   margin: 0 auto;
  
  width:80%;
} 

/* Vector{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;


background: #E8964A;


}
 */
#menu{
  position: absolute;
  top:100px;
  right:270px;
  background-color:  #C45228;
  
}

 .hidden{
   display:none;
 }